<h1>T3</h1>

<div id='board'>
	<% @board.grid.each_with_index do |space,index| %>
		<a href='/game/<%= index %>'><div class='grid-space'><%= space %><%= index %></div>
	<% end %>
</div>

<style>

	h1, h2 {
		color: #fff;
	}
	
	.grid-space {
		height: 100px;
		width: 100px;
		float: left;
		background: #C4BE90;
		border: solid 1px #293033;
	}
	
	.grid-space:hover {
		background-color: #fff;
	}
	
	#board {
		margin: 0 auto;
		width: 306px;
	}
	
	body {
		width: 500px;
		margin: 0 auto;
		background: url('/assets/bg.jpg');
	}
	
</style>